@import '_mixins';

.vt323-button {
    @include button-base();
    color: $soft-yellow;
    background-color: $charcoal-dark;
    border: 2px solid black;
    box-shadow: 2px 2px 3px 1px black;

    &:hover {
        background-color: $yellow;
        color: $charcoal-dark;
    }
}

/* 🔹 Secondary Button */
.vt323-button-secondary {
    @include button-base();
    color: $charcoal-dark;
    background-color: $soft-yellow;
    border: 1px solid $yellow;
    box-shadow: 2px 2px 3px 1px $yellow-glow;

    &:hover {
        background-color: $yellow;
    }
}

/* 🔹 Inventory Button */
.inventory-button {
    @include button-base();
    color: $charcoal-dark;
    background-color: $charcoal-dark;
    //background-image: linear-gradient(180deg, $charcoal, $charcoal-dark);
    border: 5px solid $yellow;
    border-radius: 10px;
    margin: 5px;
    padding: 4px;
    width: auto;
    height: auto;

    &:hover {
        background-color: $light-blue;
        box-shadow: 2px 2px 5px 1px $bright-yellow-glow;
    }
}