// ---BUTTONS---
@mixin button-base {
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.25rem, 1.25vw, 2rem);
    padding: 2px 10px;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1.05);
    }
}

// ---CONTAINTERS---
@mixin nav-container-style() {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 80%;
    width: auto;
    height: auto;
}

// ---MAPS---
@mixin map-style() {
    visibility: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    max-height: 650px;
}

@mixin territory-map-container-style() {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    max-width: 1300px;
    max-height: 650px;
}

// ---TEXT BOX---
@mixin text-box-style() {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 100%;
    width: 1152px;
    height: auto;
}

@mixin text-area-style() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: var(--text-border, 5px solid $yellow);
    background-image: var(--text-bg, linear-gradient(180deg, $neon-pink, $dark-blue));
    border-radius: 5px;
    box-shadow: inset 2px 2px 10px 1px $text-area-box-shadow;
    padding-top: 3px;
    padding-right: 30px;
    padding-bottom: 3px;
    padding-left: 15px;
    margin: auto;
    max-width: 80%;
    width: 1152px;
    height: auto;
}

@mixin text-nav-box-style() {
    margin: auto;
    padding: 8px;
    //border-style: 1px solid $bright-blue;
    border-radius: 10px;
    //box-shadow: inset 0 0 4px 1px $box-shadow-dark;
    width: 100%;
    // min-height: 120px;
    overflow-y: auto;
}

// ---TOOLBOX--- 
@mixin toolbox-modal-style() {
    // display: none; 
    position: fixed;
    top: 45%;
    left: -300px; // start off-screen
    transform: translateY(50%);
    transition: left 0.5s ease-out;
    z-index: 999;
    align-items: center;
    // width: 25%; 
    // height: auto; 
    //background-color: $text-background; 
    border-radius: 5px;
}

// ---INVENTORY--- 
@mixin inventory-modal-style() {
    // display: none; 
    position: fixed;
    top: 45%;
    right: -300px; // start off-screen
    transform: translateY(-50%);
    transition: right 0.5s ease-out;
    z-index: 999;
    align-items: center;
    // width: 25%; 
    // height: auto; 
    //background-color: $text-background; 
    border-radius: 5px;
}

//---MODALS---
@mixin map-modal-base() {
    z-index: 999;
    position: relative;
    // transform: translateX(-35%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-width: 1px;
    border-left-width: 1px;
    border-radius: 10px;
    // width: 100%; 
    // height: auto;
}