// 🎨 Define color variables

//Home
$charcoal: #322426b7;
$charcoal-dark: #322426;
$bright-yellow-glow: #FBEF9F;
$soft-yellow: #F9E89A;
$yellow-glow: #FBFEDF;
$yellow: #FAFF43;
$lighter-pink: #FF9DEA;
$neon-pink: #FC30C5;
$dark-pink: #BF0D99;
$light-purple: #A150D6;
$purple: #6140C7;
$dark-purple: #67115B;
$dark-blue: #13145F;
$blue: #108FF2;
$light-blue: #13D4E4;
$bright-blue: #B0FFFF;
$bright-green: #B0FFFF;
$bright-cyan: #B0FFFF;

//North
$north-pink: #FA67D1;
$north-light-pink: #FECBF1;
$north-purple: #9455C4;
$north-bright-white-glow: #F7F8F9;
$north-blue: #34539F;
$north-dark-blue-purple: #47244D;

//east
$east-fark-green: #257D9E;
$east-dark-purple: #490127;
$east-white-glow: #FAFCFB;

//south
$south-bright-yellow-glow: #F7FF9F;
$south-pink-orange: #D71F5D;

//west
$west-bright-blue-glow: #E5FFEE;
$west-bright-yellow-glow: #EDFAD6;
$west-dark-pink: #D21088;
$west-light-pink: #FF74CB;
$west-dark-purple: #9049DD;

// Dark / Border / Shawdow colors
$botton-text-color: black;
$box-shadow-dark: rgba(0, 0, 0, 0.5);
$background-dark: rgba(34, 34, 34, 1);
$option-button-box-shadow: #DAFFF4;
$option-button-border: rgba(255, 56, 220, 1);
$coin-border: rgba(248, 178, 129, 1);
$coin-box-shadow: #C6783E;
$inventory-border: rgba(248, 178, 129, 1);
$inventory-box-shadow: #C6783E;
$highlight-green: #04FDD4;
$text-area-border: #FD33B9;
$text-background: #6140C7;
$text-border: rgba(0, 149, 211, 1);
$main-map-names: #FBEBA4;
$north-map-names: #F3FBF7;
$east-map-names: #45123D;
$south-map-names: #5D1556;
$west-map-names: #FBF9F4;

// Main Pastel Colors
$coin-color: rgba(254, 232, 140, 1);
$inventory-color: rgba(254, 232, 140, 1);
$secondary-button-color: rgba(254, 232, 140, 1);
$primary-button-color: #04FDD4;
$option-button-bg: rgba(255, 117, 216, 1);
$text-area-background: #10FDCC;

// Soft Accent colors
$text-area-box-shadow: #A4F0FF;